<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>AltPlay</string>
  <key>CFBundleIconName</key>
  <string>$(ASSETCATALOG_COMPILER_APPICON_NAME)</string>
  <key>CFBundleExecutable</key>
  <string>$(EXECUTABLE_NAME)</string>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>$(PRODUCT_NAME)</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>$(MARKETING_VERSION)</string>
  <key>CFBundleVersion</key>
  <string>$(CURRENT_PROJECT_VERSION)</string>
  <key>LSRequiresIPhoneOS</key>
  <true/>
  <key>NSSupportsLiveActivities</key>
  <true/>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>com.altmobileplay.altplay</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>altplay</string>
      </array>
    </dict>
  </array>
  <key>LSApplicationQueriesSchemes</key>
  <array>
    <string>audible</string>
    <string>spotify</string>
    <string>podcasts</string>
    <string>musics</string>
    <string>youtubemusic</string>
    <string>overcast</string>
    <string>waze</string>
    <string>comgooglemaps</string>
    <string>whatsapp</string>
    <string>maps</string>
    <string>facetime</string>
    <string>com.apple.iBooks</string>
    <string>tg</string>
    <string>sgnl</string>
    <string>slack</string>
    <string>msteams</string>
    <string>zoommtg</string>
    <string>discord</string>
    <string>reddit</string>
    <string>linkedin</string>
    <string>pinterest</string>
    <string>snapchat</string>
    <string>instagram</string>
    <string>fb</string>
    <string>fb-messenger</string>
    <string>twitter</string>
    <string>youtube</string>
    <string>nflx</string>
    <string>hbomax</string>
    <string>disneyplus</string>
    <string>paramount</string>
    <string>hulu</string>
    <string>tubi</string>
    <string>peacock</string>
    <string>amzn</string>
    <string>pandora</string>
    <string>tidal</string>
    <string>deezer</string>
    <string>soundcloud</string>
    <string>pktc</string>
    <string>plex</string>
    <string>homeassistant</string>
    <string>jellyfin</string>
    <string>vlc</string>
    <string>uber</string>
    <string>ubereats</string>
    <string>lyft</string>
    <string>doordash</string>
    <string>grubhub</string>
    <string>github</string>
  </array>
  <key>UIApplicationSceneManifest</key>
  <dict>
    <key>UIApplicationSupportsMultipleScenes</key>
    <false/>
  </dict>
  <key>UILaunchScreen</key>
  <dict/>
  <key>UIRequiresFullScreen</key>
  <true/>
  <key>UISupportedInterfaceOrientations</key>
  <array>
    <string>UIInterfaceOrientationLandscapeLeft</string>
    <string>UIInterfaceOrientationLandscapeRight</string>
  </array>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>AltPlay uses your location to show the map and provide driving guidance.</string>
  <key>NSAppleMusicUsageDescription</key>
  <string>AltPlay lets you control music playing from your Apple Music library while driving.</string>
  <key>NSContactsUsageDescription</key>
  <string>AltPlay uses your contacts so you can call someone or get directions to their address.</string>
  <key>UIFileSharingEnabled</key>
  <true/>
  <key>LSSupportsOpeningDocumentsInPlace</key>
  <true/>
  <key>UIBackgroundModes</key>
  <array>
    <string>audio</string>
  </array>
  <key>NSAppTransportSecurity</key>
  <dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
  </dict>
</dict>
</plist>
